/* 
4.209rem/42.09px
3.157rem/31.57px
2.369rem/23.69px
1.777rem/17.77px
1.333rem/13.33px
1rem/10.00px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator__container {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 1rem;
  background-color: #000;
  border-radius: 1rem;
  font-weight: 500;
  padding: 2rem;
}

/* ====DISPLAY SECTION==== */
.operation__display {
  padding: 1rem 0;
  color: white;
  line-height: 0.8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.results__container {
  height: 7.7875rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.result__container {
  font-size: 4.209rem;
  font-weight: 500;
}

.expression__container {
  font-size: 1.777rem;
  font-weight: 400;
}

.current__container {
  font-size: 4.209rem;
  color: white;
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.buttons__container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.button {
  /* width:  */
  font-size: 2.4rem;
  line-height: 0.6;
  border-radius: 300rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: all 0.3s;
}

.btn-initial {
  background-color: #a6a6a6;
  /* font-weight: 300; */
  color: black;
}

.btn-initial:hover,
.btn-initial:active {
  background-color: #d9d9d9;
}

/* ====OPERATIONS==== */
.btn-operation {
  background-color: #ff9f0a;
  color: white;
}

.current-pressed {
  background-color: white;
  color: #ff9f0a;
}

.btn-operation:hover {
  background-color: #fcc78d;
}

.btn-operation:active {
  background-color: white;
  color: #ff9f0a;
}
/* ====NUMBERS==== */
.btn-number {
  background-color: #333;
  color: white;
}

.btn-number:hover,
.btn-number:active {
  background-color: #737373;
}

.btn-0 {
  grid-column: span 2;
  justify-content: left;
}

i {
  line-height: 0.8;
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
  color: black;
}

.font-hidden {
  display: none;
}
